{% set heka = salt['grains.filter_by']({
    'Debian': {
        'pkgsrc_amd64': 'salt://heka/files/heka_0.6.0_amd64.deb',
        'pkgsrc_i386': 'salt://heka/files/heka_0.6.0_i386.deb',
        'server': 'hekad',
        'service': 'hekad',
        'config': '/etc/heka/hekad.toml',
        'config_src': 'salt://heka/templates/hekad.toml.jinja',
        'config_src_template': 'jinja',
    },
}, merge=salt['pillar.get']('heka:lookup')) %}
